# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# Dataset — too large for GitHub
data/raw/

# Numpy splits — can be regenerated
data/processed/


# Landmarks CSV — can be regenerated
data/landmarks/landmarks.csv

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Environment variables
.env
*.env

# Logs
*.log
logs/

# Demo video
demo/*.mp4
demo/*.avi
design.md
models/knn_model.pkl
models/random_forest_model.pkl
models/mlp_neural_network_model.pkl
models/svm_model.pkl
