<!DOCTYPE html>
<html>
<head>
    <title>ASL Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>🤟 ASL Translator</h1>

    <div id="app">

        <div id="feed-box">
            <img src="/video_feed">
            <p id="hand-status">No Hand</p>
        </div>

        <div id="output-box">

            <div id="letter-display">—</div>
            <p id="conf">Confidence: 0%</p>

            <hr>

            <p class="label">Word</p>
            <p id="word">_</p>

            <p class="label">Sentence</p>
            <p id="sentence">...</p>

            <hr>

            <div id="btns">
                <button onclick="addWord()">Add Word</button>
                <button onclick="deleteLetter()">Delete</button>
                <button onclick="speakSentence()">Speak</button>
                <button onclick="clearAll()">Clear</button>
            </div>

            <div id="cam-btns">
                <button id="btn-laptop" class="active"
                        onclick="switchCamera('laptop')">Laptop Cam</button>
                <button id="btn-phone"
                        onclick="switchCamera('phone')">Phone Cam</button>
            </div>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>